*{
    margin: 0%;
}

.head{
    background-color: black;
    display: flex;
    align-items: flex-end;
    height: 50px;
    padding-bottom: 10px;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav_button{
    color: antiquewhite;
}
.nav_button:hover{
    color: blue;
}

.home{
    height: 100vh;
    width: 100vw;
    background-color: beige;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.warm{
    flex: 1;
    min-width: 300px;
    margin-left: 30px;
    
}
.img{
    flex: 1;
    text-align: center;
    min-width: 300px;
    padding-top: 40px;
}
.img img {
    max-width: 50%;
    height: auto;
    padding-top: 30px;
}