*{
    margin: 0%;
}

.head{
    background-color: #6db3e7;
    display: flex;
    align-items: flex-end;
    height: 50px;
    padding-bottom: 10px;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav_button{
    color: antiquewhite;
}
.nav_button:hover{
    color: blue;
}

.home {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#79bee8,#cce2ef,#cbd9dc,#cbcdcc);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.warm {
  flex: 1;
  padding: 20px;
}

.img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.img img {
  max-width: 80%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}


.about{
    width: 100vw;
    height: 100vh;
    background-color: #cac4b8;
}
.about h1{
    text-align: center;
    padding-top: 60px;
}
.myabout{
    padding-top: 250px;
    margin-left: 50%;
    
}
.myabout h2{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.resume{
    padding-top: 90px;
    margin-left: 70%;
   
}
.resume button {
     background-color: brown;
    color: aquamarine;
    border: none;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-size: 24px;
    border-radius: 12px;
}
.resume button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.resume button:active {
  background-color: #7a2903;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.skills{
    background-color: #666;
}

